<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>28032445048-f12citvis77hhgnght0nemdfo46h9b8p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.28032445048-f12citvis77hhgnght0nemdfo46h9b8p</string>
	<key>API_KEY</key>
	<string>AIzaSyD6bqoC-zIXlTPEbB0lV_Kc68x2vkn6XLk</string>
	<key>GCM_SENDER_ID</key>
	<string>28032445048</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.mystudyspace.ios</string>
	<key>PROJECT_ID</key>
	<string>studyspace-kiet</string>
	<key>STORAGE_BUCKET</key>
	<string>studyspace-kiet.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:28032445048:ios:3856fb4bdb7360754b1b8d</string>
</dict>
</plist>

